<div class="row">
    <div class="col-md-12">
        <div class="content-title">
            <div class="row">
                <div class="col-md-12">
                    <h1>Inicio</h1>
                </div>
            </div>
        </div>

        <div class="content-wrapper mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" id="alugados">
                        <div class="card-body">
                            <h4>20</h4>
                            <p>Livros Alugados</p>
                        </div>

                        <div class="card-footer">
                            <a href="#">Saber mais <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" id="disponiveis">
                        <div class="card-body">
                            <h4>43</h4>
                            <p>Livros Disponiveis</p>
                        </div>

                        <div class="card-footer">
                            <a href="#">Saber mais <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" id="vencidos">
                        <div class="card-body">
                            <h4>5</h4>
                            <p>Prazos Vencidos</p>
                        </div>

                        <div class="card-footer">
                            <a href="#">Saber mais <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" id="novoEmprestimo">
                        <div class="card-body">
                            <p>Novo Aluguer</p>
                            <a href="#"><i class="fa fa-user-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>