<div class="row">
    <div class="col-md-12">
        <div class="content-title">
            <h1>Livro: </h1>
        </div>
    </div>

    <div class="col-md-12 mt-4">
        <div class="card" id="usuarios">
            <div class="card-header usuarios-cabecalho"></div>

            <div class="row px-3">
                <div class="col-md-12 my-3 text-end">
                    <a class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#Editar"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#Remover"><i class="fa fa-trash"></i></a>
                </div>
            </div>

            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>